<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">MMA Scheduler</a>
    <div class="navbar-links">
      <a href="/" class="navbar-link">Home</a>
      <a href="/events" class="navbar-link">Events</a>
      <a href="/fighters" class="navbar-link">Fighters</a>
      <a href="/rankings" class="navbar-link">Rankings</a>
    </div>
  </div>
</nav>
